.investmentCardWrapper {
    .BalanceDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
    }

    .creditNumber {
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.7rem;

        @media(max-width:475px) {
            padding: unset;
        }
    }

    .cardHolderLable {
        display: flex;
        align-items: center;
        justify-content: space-around;
        margin: 15px 0;
    }
}