$cardLabel : "rgba(255, 255, 255, 0.70)";

.detailsWrapper {
    background-color: #2B27F1;
    color: white;
    padding: 10px;

    .detailsCard {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        color: $cardLabel;
    }

    .cardValidityLable {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 20px 0;
    }

    .bottomCardDetails {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.00) 100%);
    }
}